
.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  
  .topRight{
      display: flex;
      align-items: center;
  }
  
  .topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
  }
  
  .topIconBadge{
      width: 15px;
      height: 15px;
      position: absolute;
      top: -5px;
      right: 0px;
      background-color: red;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
  }
  
  .topAvatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
  }
 
  
  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    margin-right: 1rem;
    margin-top: 0.45rem;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    margin-top: 0.65rem;
  }


  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }

  .wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

 
/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: .8rem;
  font-weight: 600px;
  margin-top: .4rem;
  margin-right: .3rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 4px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}